# App Configuration
APP_NAME=webster
APP_DOMAIN=webster.com
APP_SUPPORT_EMAIL=test@test.com
APP_PORT=8080
APP_HOST=localhost
APP_PROTOCOL=http
APP_FRONTEND_PORT=5173
APP_FRONTEND_HOST=localhost
APP_FRONTEND_PROTOCOL=http
APP_NODE_ENV=development

# Google Configuration
GOOGLE_CLIENT_ID='1000000000000-000000000000000.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='GOCSPX-000000000000000'

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test_

# Ethereal Configuration
ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=corrine.strosin80@ethereal.email
ETHEREAL_PASS=EEshmbDQ6mKBzprKVK

# Database Root Configuration
DB_ROOT_HOST=localhost
DB_ROOT_PORT=3306
DB_ROOT_USER=root
DB_ROOT_PASSWORD=root

# Database App Configuration
DB_APP_HOST=localhost
DB_APP_PORT=3306
DB_APP_USER=webster_sql
DB_APP_PASSWORD=securepass
DB_APP_DATABASE=webster
DB_APP_URL="mysql://${DB_APP_USER}:${DB_APP_PASSWORD}@${DB_APP_HOST}:${DB_APP_PORT}/${DB_APP_DATABASE}"
SHADOW_DB_APP_DATABASE=${DB_APP_DATABASE}_shadow
SHADOW_DB_APP_URL="mysql://${DB_APP_USER}:${DB_APP_PASSWORD}@${DB_APP_HOST}:${DB_APP_PORT}/${SHADOW_DB_APP_DATABASE}"

# JWT Configuration
JWT_ACCESS_SECRET=your_access_secret_key_here
JWT_REFRESH_SECRET=your_refresh_secret_key_here
JWT_CONFIRM_EMAIL_SECRET=your_email_secret_key_here
JWT_RESET_PASSWORD_SECRET=your_password_reset_secret_key_here
